*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

h1{
    background-color: hsl(0, 0%, 0%);
    color:hsl(0, 0%, 100%);
    font-family: 'Comic Neue', cursive;
    font-weight:bolder;
}

span{
    text-align: start;
    color:hsl(180, 100%, 50%);
    font-family: 'Comic Neue', cursive;
    font-weight:bolder;
}

h2{
    text-align: center;
    background-color: hsl(271, 50%, 40%);
    color:hsl(0, 0%, 100%);
    font-family: sans-serif;
    font-style: italic;
    font-weight:normal;
    
}

h3{
    text-align: end;
    text-decoration: underline;
    font-family: 'Comic Neue', cursive;
    font-weight: 700;
    color:hsl(256, 62%, 18%);
    background-color: hsl(215, 88%, 80%);
}   